*.pyc
__pycache__/
*.so
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
*.log
*.aig
*.bench
*.graphml
*.pt
test_data/bench/*
test_data/graphml/*
test_data/pt/*
test_data/recipes/*
!test_data/aig/
!test_data/verilog/
